#form {
  display: none;
  padding: 10px;
  text-align: center;
}

h1 {
   text-align: center;
}

#timer {
  text-align: right;
}

.wrapper {
   height: 100%;
   margin: 0;
   padding: 0;
 }
 
 body {
   font-family: sans-serif;
   background-color: #f9fbfd;
 }

 .wrapper {
   padding-top: 30px;
   padding-left: 20px;
   padding-right: 20px;
 }
 
 header {
   text-align: center;
   padding: 20px;
   padding-top: 0px;
   color: hsl(206, 17%, 28%);
 }

.card1 {
   background-color: hsl(0, 0%, 100%);
   border-radius: 5px;
   border-width: 1px;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
   color: hsl(206, 17%, 28%);
   font-size: 18px;
   margin: 0 auto;
   max-width: 800px;
   padding: 30px 40px;
   text-align: center;
}

.card1-body {
   min-height: 100px;
 }

.card{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   z-index: 1;
   opacity: 0;
   transition: opacity 0.5s;
 }
 
 .active-card{
   opacity: 1;
   z-index: 2;
   text-align: center;
 }
 
 #quizContainer{
  display: none; 
  position: relative;
   height: 200px;
   margin-top: 40px;
 }

 .center {
   display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
 }

 .answers {
   margin-bottom: 20px;
   text-align: left;
   display: inline-block;
 }

 .answers label{
   display: block;
   margin-bottom: 10px;
 }

 #counter {
   text-align: center;
 }

 